*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{ 
    background-color: blue;
}
h1{ 
    margin-top: 20px;
    margin-right: 15px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font: bold;
}
.calculator{ 
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    width: 300px;
    height:475px;
    border: 2px solid #999999;
    margin-left: 38%;
}
.display{ 
    width: 125%;
    height: 100px;
    font-size: 25px;
    cursor: pointer;
    align-items:center;
    background-color:#d279a6;
    border-radius: black solid .5px;
    border-radius: 5px;
}

#btn{ 
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color:red;
    transition: all 300ms ease;

}
#btn:hover{ 
    width: 50px;
    height: 50px;
    border: 0;;
    border-radius: 30px;
    background-color: #66ffff;
}
.delete{ 
        width: 50px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        background-color:red;
        transition: all 300ms ease; 
}
.delete:hover{ 
    width: 50px;
    height: 50px;
    border: 0;;
    border-radius: 30px;
    background-color: #66ffff;
}
.btn:hover{ 
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color:rgb(37, 35, 59);
    box-shadow: 0px 2px 10px 5px black;
}
.calculate{ 
    width : 50px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color: rgb(16, 201, 16);
}
.calculate:hover{
    width : 50px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    background-color: #1a75ff;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font: bold;
    width: 50px;
    height: 50px;
    color: white;
    border: 0;
    border-radius: 30px;
    background-color: rgb(87, 87, 87);
    transition: all 300ms ease;
}

